.questions {
  margin: 2% 10%;
  display: flex;
  justify-content: space-around;
}
.content_top p {
  width: 32px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #919eab;
}
.content_top h1 {
  width: 564px;
  height: 128px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #212b36;
  text-align: start;
}
.vl {
  border-top: 2px solid black;
  width: 12px;
  margin-top: 30px;
}
.box {
  display: flex;
  text-align: start;
}
.box p {
  width: 516px;
  height: 28px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #212b36;
}
.text {
  width: 564px;
  height: 56px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #212b36;
  text-align: start;
}
.vl2 {
  border-bottom: 2px solid rgba(145, 158, 171, 0.24);
  width: 564px;
}
