.wrapper {
  background: #161c24;
  height: 752px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5gi00px;
}

.left_bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.title {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 24px;
}

.txt2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  width: 368px;
}

.left {
  width: 368px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 80px;
}

.right {
  width: 806px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.right__title {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 4px;
}

.right__txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #919eab;
}

.teamcard1,
.teamcard2,
.teamcard3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right div > img {
  border-radius: 16px;
}

@media (max-width: 576px) {
  .teamcard2 {
    display: none;
  }

  .teamcard3 {
    display: none;
  }
  .left_bottom {
    display: none;
  }

  .title {
    width: 209px;
    font-size: 32px;
    line-height: 42px;
    color: #fa541c;
    text-align: center;
  }

  .container {
    display: flex;
    gap: 64px;
    flex-direction: column;
    align-items: center;
    width: 375px;
  }

  .left_top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right {
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
