.wrapper {
    margin: 0 98px;
    display: flex;
    align-items: center;
    gap: 64px;
}

@media (max-width: 768px) {
    .wrapper {
        width: 375px;
        margin: 0;
        overflow: scroll;
        gap: 24px;
        display: flex;
    }
}