.mightLike {
  padding: 4% 8%;
}
.contentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.contentTop h1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #212b36;
}
.contentTop p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  color: #fa541c;
}
.contentTop p > img {
  margin-left: 10px;
}

.contentBottom {
  display: flex;
  justify-content: space-between;
}
.contentBottom h3 {
  width: 322px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #212b36;
  text-align: start;
  margin: 10px;
}
.contentBottom p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #919eab;
  text-align: start;
  margin: 10px;
}
.box img {
  width: 500px;
  height: 450px;
}

@media (max-width: 1400px) {
  .box img {
    width: 350px;
    height: 360px;
  }
}
@media (max-width: 1200px) {
  .contentBottom {
    display: block;
    padding: 0% 3%;
  }
  .contentTop {
    justify-content: start;
    gap: 8%;
  }
}
@media (max-width: 992px) {
  .mightLike {
    padding: 0% 10%;
  }
  .contentTop p {
    margin-right: 0%;
  }
  .contentTop {
    margin-left: 6%;
  }
}
@media (max-width: 876px) {
  .mightLike {
    padding: 0% 3%;
  }
  .contentTop {
    margin-right: 0%;
  }
}
@media (max-width: 768px) {
  .mightLike {
    padding: 0% 8%;
  }
  .contentTop {
    margin-right: 20%;
  }
}
@media (max-width: 576px) {
  .mightLike {
    padding: 0%;
  }
  .contentTop {
    margin-right: 20%;
  }
}
