.wrapper {
    height: 100vh;
    background: #F9FAFB;
    padding-top: 120px;
}
.txt1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;        
    color: #212B36;
    width: 536px;
}

.slider {
    display: flex;
    margin: 10% 10%;
    justify-content: space-around;
}

.slideText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 80px;
}

.slideText > p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;    
    color: #919EAB;
}

.slideText > h1 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;    
    text-align: center;    
    color: #212B36;
}

.title {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;    
    color: #212B36;
}

.txt2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #637381;    
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 126px;
    height: 172px;
    gap: 16px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: orange;
}


