.work {
  padding: 2% 8%;
  text-align: center;
  background: #f9fafb;
  height: 500px;
}
p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #919eab;
}
.work h1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #212b36;
}
.middle_content {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.textBlock {
  width: 584px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #212b36;
  text-align: start;
}
.image {
  width: 116px;
  height: 116px;
}
.bottom {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.ul {
  width: 8px;
  height: 8px;
  background: #fa541c;
  border-radius: 50%;
}
.ul2 {
  width: 8px;
  height: 8px;
  background: #ed977a;
  border-radius: 50%;
}
