.wrapper {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 64px;
    width: 1152px;
    height: 206px
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 240px;
    height: 206px;
}

.card_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.card__title {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;    
    color: #212B36;
}

.card__txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;    
    color: #637381;
}