.studiesList {
  padding: 4% 8%;
}
.topContent {
  background-image: url(../../assets/OurCase_img/IMG3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1580px;
  height: 800px;
}
.topContent2 {
  display: flex;
  margin-top: 5%;
}
.topContent2 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #212b36;
  margin-left: 10px;
  margin-right: 10px;
}
.topContent2 .text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #919eab;
}
.middle_con {
  display: flex;
  margin-top: 30px;
}

.middleContent p {
  width: 746px;
  height: 56px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #212b36;
  text-align: start;
  margin-bottom: 60px;
}
.middleContent h1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #212b36;
  text-align: start;
}
.middleContent li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #212b36;
  text-align: start;
}
.tbl {
  display: flex;
  gap: 20px;
}
.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 10%;
}
.cards img {
  height: 210px;
}
.leftContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 24px;
  width: 342px;
  height: 574px;
  background: #f9fafb;
  border-radius: 16px;
}
.leftContent h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #919eab;
  text-align: start;
  margin: 0px;
}
.leftContent h1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #212b36;
  text-align: start;
}
.leftContent p {
  width: 262px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #212b36;
  text-align: start;
}
.leftContent h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #212b36;
  text-align: start;
}
.leftBottom {
  display: flex;
  gap: 20px;
}
.leftContent .hr {
  border: 1px solid #919eab3d;
  width: 262px;
}

.slider {
    margin: 0 auto;
    width: 700px;
}