header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 36px 0;
  gap: 40px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 48px;
  width: 838px;
}

.home, .components, .dropbtn, .documentation {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;  
  color: #637381;
  text-decoration: none;
  margin: 0;
}

.home:hover, .components:hover, .dropbtn:hover, .documentation:hover {
  color: #212B36;
  font-weight: 700;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 274px;
  height: 36px;
}

.a {
  display: flex;
}

.header a:hover {
  cursor: pointer;
  color: black;
}
.header .burger {
  display: none;
}
.header_right {
  margin-right: 36%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 274px;
}

.search {
  margin-right: 19px;
}

.liniya {
  width: 1px;
  height: 24px;
  background: rgba(145, 158, 171, 0.24);
}

.login {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;  
  color: #212B36;
  margin: 0;
  text-decoration: none;
}

.login:hover {
  color: #212B36;
}

.join {
  width: 83px;
  height: 36px;
  background: #212B36;
  padding: 6px 16px;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;  
  text-align: center;  
  color: #FFFFFF;
}

.dropbtn {
  background: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.pages {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 16px;
}

.pages > a {
  color: black;
  padding: 10px 6px;
  text-decoration: none;
  display: block;
  margin: 0;
}

.pages a:hover {
  background-color: #FA541C;
  border-radius: 16px;
}

.dropdown:hover .pages {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FA541C;
  color: #FFFFFF;
}

.burger {
  display: none;
}

@media (max-width: 576px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    gap: 0;
  }

  .left {
    width: 73.89px;
  }

  .left > a {
    display: none;
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 88px;
    height: 40px;
  }

  .icon {
    display: none;
  }

  .burger {
    display: block;
    margin-right: 20px;
  }

  .liniya {
    display: none;
  }

  .join {
    display: none;
  }
}