.wrapper {
    width: 100%;
    height: 510px;
}

.top {
    margin-bottom: 40px;
}

.top__txt {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;    
    text-transform: uppercase;    
    color: #919EAB;
    margin-bottom: 16px;
}

.top__txt2 {
    margin-top: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;        
    color: #637381;
    width: 536px;
}

.bottom {
    height: 210px;
    display: flex;
    gap: 32px;
    align-items: end;
}

.card1 {
    width: 264px;
    height: 150px;
    background: #FDAB76;
    box-shadow: -8px 12px 32px rgba(250, 84, 28, 0.2);
    border-radius: 16px;
}

.card1__img, .card2__img, .card3__img, .card4__img {
    padding: 16px 0 24px 16px;
}

.btn, .btn2, .btn3 {
    display: flex;
    justify-content: end;
    width: 232px;
}

.btn {
    padding: 0 35px;
}

.btn2 {
    padding: 0 35px;
}

.btn3 {
    padding: 0 50px;
}

.button, .button2, .button3 {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;    
    color: #770508;
    border: none;
    background-color: #FDAB76;
}

.btn__icon, .btn__icon2, .btn__icon3 {
    margin-left: 10px;
    width: 22px;
}

.card2 {
    height: 170px;
    width: 264px;
}

.card2 > .container {
    width: 264px;
    height: 150px;
    background: #77F0ED;
    box-shadow: -8px 12px 32px rgba(34, 184, 207, 0.2);
    border-radius: 16px;   
    margin-bottom: 20px;
}

.button2 {
    color: #063963;
    background-color: #77F0ED;
}

.card3 {
    width: 264px;
    height: 190px;
}

.card3 > .container {
    background: #FFE475;
    box-shadow: -8px 12px 32px rgba(255, 200, 26, 0.2);
    border-radius: 16px;
    width: 264px;
    height: 150px;
    margin-bottom: 40px;
}

.button3 {
    color: #7A5204;
    background-color: #FFE475;
}

.card4 {
    width: 264px;
    height: 210px;
}

.card4 > .container {
    background: #69F290;
    box-shadow: -8px 12px 32px rgba(12, 214, 110, 0.2);
    border-radius: 16px;
    width: 264px;
    height: 150px;    
}

.card4__txt {
    margin-right: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;    
    text-align: right;    
    color: #02665B;
}

@media (max-width: 576px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 20px;
        gap: 64px;
        width: 375px;
        height: 1074px;
    }

    .bottom {
        display: flex;
        flex-direction: column;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 335px;
        height: 186px;
    }

    .top__txt {
        width: 335px;
        text-align: center;
    }

    .top__txt2 {
        width: 335px;
        text-align: center;
    }

    .card1, .card2, .card3, .card4 {
        width: 335px;
        height: 150px;
    }

    .card2 > .container {
        width: 335px;
    }

    .card3 > .container {
        width: 335px;
    }

    .card4 > .container {
        width: 335px;
    }

    .btn {
        padding: 0;
    }

    .btn2 {
        padding: 0;
    }

    .btn3 {
        padding: 0;
    }
}