.footer_top {
  background-image: url(../../assets/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: space-between;
  padding: 5% 9%;
}
h1 {
  width: 466px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #fa541c;
  text-align: start;
}
p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.block {
  display: flex;
  gap: 15px;
}
.right_content {
  display: grid;
}
.input {
  width: 466px;
  height: 56px;
  background: rgba(145, 158, 171, 0.08);
  border-radius: 8px;
  border: none;
  padding: 0px 20px;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 22px;
  width: 172px;
  height: 48px;
  background: #fa541c;
  border-radius: 8px;
  border: none;
  color: white;
}
.footer_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  /* width: 100%; */
  height: 20vh;
  background: #f9fafb;
  justify-content: space-between;
  padding: 5% 9%;
}
.footer_bottom p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #637381;
}
.footer_bottom h2 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #212b36;
}
.left {
  display: flex;
  gap: 20px;
}
.right {
  display: flex;
}
.right input {
  width: 364px;
  height: 56px;
  background: rgba(145, 158, 171, 0.08);
  border-radius: 8px 0px 0px 8px;
  border: none;
}
.btn2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 22px;
  width: 102px;
  height: 56px;
  background: #fa541c;
  border-radius: 0px 8px 8px 0px;
  border: none;
}
