.footer_top {
  background-image: url(../../assets/Footer/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 4% 8%;
}
.footer h1 {
  width: 466px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #fa541c;
  text-align: start;
}
.footer p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.block,
.block2 {
  display: flex;
  gap: 15px;
}
.left_content {
  display: grid;
}
.input {
  width: 466px;
  height: 56px;
  background: rgba(145, 158, 171, 0.08);
  border-radius: 8px;
  border: none;
  padding: 0px 20px;
  color: #f9fafb;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 22px;
  width: 172px;
  height: 48px;
  background: #fa541c;
  border-radius: 8px;
  border: none;
  color: white;
}
.footer_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  /* width: 100%; */
  height: 30vh;
  background: #f9fafb;
  justify-content: space-between;
  padding: 4% 8%;
}
.footer_bottom p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #637381;
}
.footer_bottom h2 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #212b36;
}
.right {
  display: flex;
  gap: 20px;
}
.left {
  display: flex;
}
.left input {
  width: 364px;
  padding: 8px;
  background: rgba(145, 158, 171, 0.08);
  border-radius: 8px 0px 0px 8px;
  border: none;
}
.btn2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 22px;
  width: 102px;
  height: 56px;
  background: #fa541c;
  border-radius: 0px 8px 8px 0px;
  border: none;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .input {
    margin: 15px;
    margin-left: 10%;
    background: rgba(145, 158, 171, 0.15);
  }
  .footer_top {
    display: block;
    height: 100%;
  }
  .footer h1 {
    width: 334px;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    margin-left: 15%;
  }
  .block {
    margin-left: 22%;
  }
  .block2 {
    margin-left: 15%;
  }
  .btn {
    margin-left: 10%;
  }
  .footer_bottom {
    display: block;
    height: 100%;
  }
  .right {
    margin-bottom: 20px;
    margin-left: 10%;
  }
  .left {
    margin-left: 10%;
  }
}
@media (max-width: 900px) {
  .footer h1 {
    margin-left: 3%;
  }
  .footer .block {
    margin-left: 22%;
  }
  .block2 p {
    width: 200px;
  }
  .block2 {
    margin-left: 23%;
  }
  .footer .input {
    margin-left: 0%;
    width: 334px;
  }
  .footer .btn {
    margin-left: 23%;
  }
  .right {
    margin-bottom: 30px;
    display: block;
    margin-left: 0;
  }
  .box p,
  .box h2 {
    text-align: center;
  }
  .right img {
    margin-left: 36%;
  }
}
@media (max-width: 876px) {
  .footer h1 {
    margin-left: -2%;
  }
  .input {
    margin-left: 2%;
    width: 300px;
  }
  .left {
    margin-left: 0;
  }
  .footer .block,
  .block2 {
    margin-left: 8%;
  }
  .footer .btn{
    margin-left: 12%;
  }
  .box p, .box h2{
    text-align: start;
    margin-left: 2%;
  }
  .right img{
    margin-left: 12%;
  }
}
