.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
    gap: 80px;
    height: 512px;
}

.title {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;    
    text-align: center;    
    color: #212B36;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;    
    width: 616px;
    height: 128px;
}

.item_top, .item_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 616px;
    height: 32px;
}

@media (max-width: 576px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 20px;
        gap: 64px;
        width: 375px;
        height: 482px;
    }

    .title {
        width: 155px;
        font-size: 32px;
        line-height: 42px;
    }

    .items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 335px;
        height: 248px;
    }

    .item_top, .item_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 40px;
        width: 155.5px;
        height: 248px;
    }
}