* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

.container {
  padding: 0 144px;
}

.slick-dots li.slick-active button {
  opacity: 0.75;
  color: #fa541c;
}

@media (max-width: 800px) {
  .container {
    padding: 0 20px;
  }
}
