* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Barlow', sans-serif;
}

.container {
  padding: 0 144px;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #FA541C;
}

.slick-next:before, .slick-prev:before {
  content: '';
}

.slick-dots li button:before {
  font-size: 18px;
}