.ourCase {
  padding: 0% 8%;
  margin-bottom: 6%;
}
.ourCase h1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #212b36;
  text-align: start;
}
.ourCase p {
  width: 368px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #637381;
  text-align: start;
  margin-bottom: 3%;
}
.ourCase span {
  width: 50px;
  display: inline;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #637381;
  margin-left: 15px;
  margin-right: 30px;
}
.span {
  display: flex;
}
.hr {
  width: 48px;
  height: 2px;
  background: #fa541c;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 5%;
}
.box p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #919eab;
  margin-left: 20px;
}
.box h3 {
  width: 322px;
  height: 60px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #212b36;
  text-align: start;
}
.middle img {
  width: 500px;
  height: 450px;
}
.middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.bottom > p {
  width: 0px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #637381;
  margin: 20px;
}
.num {
  margin-left: 35%;
}
.dt {
  display: none;
}
@media (max-width: 1400px) {
  .middle img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1200px) {
  .middle img {
    width: 220px;
    height: 220px;
  }
  .middle .box {
    width: 330px;
  }
  .box h3 {
    width: 200px;
  }
  .num {
    margin-left: 26%;
  }
}
@media (max-width: 900px) {
  .middle {
    display: block;
    margin-left: 17%;
  }
  .box h3 {
    width: 100%;
  }
  .middle img {
    width: 500px;
    height: 500px;
    margin-top: 10%;
  }
  .ourCase h1 {
    text-align: center;
    margin-right: 20%;
  }
  .ourCase p {
    text-align: center;
    margin-left: 15%;
  }
  .dt {
    display: block;
  }
  .span {
    margin-left: 12%;
  }
  .span .dalate {
    display: none;
  }
  .hr {
    margin-bottom: 0;
    margin-left: 12%;
  }
  .box p {
    text-align: start;
    margin: 10px 10px;
  }
  .middle {
    display: block;
    margin-left: 0%;
  }
  .num {
    margin-left: 0;
  }
  .num span {
    margin-left: 19px;
    margin-right: 19px;
  }
}
@media (max-width: 876px) {
  .ourCase h1 {
    margin-right: 12%;
  }
  .ourCase p {
    margin-left: 16%;
  }
  .span {
    margin-left: 10%;
  }
  .hr {
    margin-left: 10%;
  }
  .middle {
    margin-left: 0%;
  }
  .num {
    margin-left: 0%;
  }
}
@media (max-width: 667px){
  .middle{
    margin-left: 0%;
  }
  .ourCase p{
    margin-left: 10%;
  }
} 

@media (max-width: 576px) {
  .ourCase h1 {
    margin-left: 10%;
  }
  .ourCase p {
    margin-right: 10%;
  }
  .span {
    margin-left: 13%;
  }
  .hr {
    margin-left: 13%;
  }
  .middle img {
    width: 320px;
    height: 320px;
    margin-top: 10%;
    margin-left: 20%;
  }
  .box p {
    margin-right: 0;
    margin-left: 20%;
  }
  .box h3 {
    margin-left: 20%;
  }
}
